streamlit
gradio
ffmpeg
pysqlite3-binary
embedchain
crewai
crewai-tools
langchain_groq
langchain
langchain_community
moviepy
opencv-python-headless
opencv-python
gradio
wikipedia
gtts
openai
pydub